<?xml version="1.0"?>
<launch>

  <arg name="rm" default="True" />
  <arg name="sim" default="False" />
  <arg name="battery" default="true" />
  <arg name="takeoff_height"  default= "0" />
  <arg name="mujoco" default="False" />
  <arg name="headless" default="True" />

  <include file="$(find dragon)/launch/bringup.launch" >
    <arg name="rm" value="$(arg rm)" />
    <arg name="sim" value="$(arg sim)" />
    <arg name="battery" value="$(arg battery)" />
    <arg name="takeoff_height"  value= "$(arg takeoff_height)" />
    <arg name="mujoco" value="$(arg mujoco)" />
    <arg name="demo" value="False" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  # snake head
  <group ns="snake_head" if = "$(eval arg('rm') and not arg('sim'))">
    <include file="$(find spinal)/launch/bridge.launch">
      <arg name="mode" value="serial" />
      <arg name="serial_port" value="/dev/snake_head" />
      <arg name="serial_baud" value="921600" />
    </include>
  </group>


</launch>



